.home-opener {
  background: $secondary-color url('../images/john-looking.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 600px;
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;
  h2 {
    color: $reverse-color;
    font-size: 40px;
    font-weight: 300;
    line-height: 135%;
    padding-right: 10px;
    padding-top: $gutter*3;
    padding-bottom: $gutter;
  }
}

.home-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 65px;
  height: 65px;
  display: block;
  margin: 0 auto $gutter*.5 auto;
  &.home-icon-video {     background-image: url(../images/icon-video.png);    }
  &.home-icon-document {  background-image: url(../images/icon-document.png);    }
  &.home-icon-lifetime {  background-image: url(../images/icon-lifetime.png);    }
  &.home-icon-compass {   background-image: url(../images/icon-compass.png);    }
}

.home-icon-row {
  p {
    font-size: 17px;
  }
}

.home-what {
  img {
    max-width: 100%;
    height: auto;
  }
  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
  }
  p {
    font-size: 22px;
  }
}

.home-quote {
  .quote {
    border: 1px solid $primary-color;
    font-size: 25px;
    text-align: center;
    padding: $gutter *.75;
  }
}

.home-hook {
  background: url(../images/pattern.png) repeat;
  background-size: 20px;
  padding: $gutter*1.25 0;
}

.home-testimonial-slider {
  margin-top: -$gutter*4;
}

.quote-panel {
  background: $primary-color;
  color: $reverse-color;
  text-align: center;
  padding: $gutter*1.25 $gutter*2;
  width: 80%;
  float: right;
  h4 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:after {
      display: block;
      height: 1px;
      background: $reverse-color;
      width: 60%;
      content: "";
      margin: $gutter*.8 auto;
    }
  }
  p {
    font-size: 16px;
    span {
      font-size: 27px;
      font-weight: 500;
      display: block;
    }
  }
  .quote-social-icon {
    color: $reverse-color;
    border: 1px solid $reverse-color;
    border-radius: 100px;
    display: inline-block;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
}

.home-purchase {
  background: #f6f6f6;
  .purchase-title {
    background: $primary-color;
    color: $reverse-color;
    text-align: center;
    padding: $gutter;
    margin-top: 0;
  }
}