/* **** Colors */
$primary-color: #de3e18;
$secondary-color: #0f0f16;
$text-color: #444444;
$reverse-color: #ffffff;

/* **** Typography */
$text-font: "brandon-grotesque",sans-serif;

/* **** Structure */
$gutter: 30px;
$base-margin: $gutter;
$base-padding: $gutter;